[Unit]
Description=monitor
After=network.target

[Service]
ExecStart=/usr/bin/bash /root/monitor.sh > /dev/null 2>&1
Restart=on-failure

[Install]
WantedBy=multi-user.target