[Unit]
Description=Simple Relay
After=network.target

[Service]
Type=simple
User=root
ExecStart=/root/relay -L relay+ws://:443
Restart=always
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
StandardOutput=null

[Install]
WantedBy=multi-user.target
